body{
    margin: 0;
    font-family: serif;
    background-color: darksalmon;
}
.layout{
    display: flex;
}
.sidebar{
    width: 220px;
    padding-top: 20px;
}

.container{
    height: 70px;
    width: 200px;
    border: 2px solid salmon;
    border-radius: 15px;
    margin: 10px;
    line-height: 70px;
    text-align: center;
    color: white;
}

.container:hover{
    background-color: grey;
}


.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input{
    margin-top: 20px;
    width: 400px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
}


.cards-container{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.song-card{
    width: 180px;
    height: 300px;
    background: #e1dbdb;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.song-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.profile{
  width: 40px;
  height: 40px;
  background: #797272;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left:20px
}

.text{
    position: fixed;
    bottom: 20px;
    left:70px;
    font-size: 20px;
}
.music-player{
    position: fixed;
    bottom: px;
    left: 0;
    width: 100%;
    height: 80px;
    background: #2b2b2b;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.player-img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.song-info{
    flex: 4;
}


